BOT_TOKEN=8544195565:AAEvKJw3m9MiOA_z7K1adNLpmM

SUPER_ADMIN_ID=[5757605592, 629678551, 657655976]

DB_HOST=postgres
DB_PORT=5432
DB_NAME=telegram_bot
DB_USER=tg_admin
DB_PASSWORD=11111111

REPORT_CHAT_ID=-556719911

AUTH_URL=https://loggin:pass@api-plata.ru/api/lk/login
PAGE_URL=https://api-plata.ru/api/lk/login