services:
  tg_bot:
    build:
      context: .
    container_name: bot
    restart: always
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./files:/app/files
    environment:
      - FILES_DIR=/app/files/checks
volumes:
  postgres_data:
