services:
  tg_bot:
    build:
      context: .
    container_name: bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./files:/app/files
    environment:
      - FILES_DIR=/app/files/checks
    networks:
      - shared-network
    depends_on:
        - postgres

networks:
  shared-network:
    external: true
